<footer class="footer">
    <div class="footer-part">
        <div class="footer-part_row">                    
            <nav class="footer-hotline">
                <ul class="footer-hotline_list">
                    <li class="footer-hotline_list_item separate"> <i class="fas fa-envelope footer-icon" ></i>info@uit.edu.vn</li>
                    <li class="footer-hotline_list_item"><i class="fas fa-phone-volume footer-icon"></i>Hotline: (028) 372 52002</li>
                </ul>
            </nav>
        </div>
    </div>
</footer>